@font-face {
  font-family: "Butler";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Butler"),
    /* Если не получилось, загрузит woff2 */ url("/fonts/Butler-Light.woff2")
      format("woff2"),
    /* Если браузер не поддерживает woff2, загрузит woff */
      url("/fonts/Butler.woff") format("woff");
}
