body {
  font-family: "Butler", sans-serif;
  margin: 0;
  color: #000;
  background-color: white;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.studio {
  height: 100vh;
  min-height: 600px;
  text-align: center;
  line-height: 100vh;
}

.container {
  max-width: 1065px;
  background-image: url(../img/1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
}

.studio-card {
  font-size: 5.5rem;
  padding: 1.5em 0.5em 1.4em;
  background-color: white;
  display: inline-block;
  text-align: center;
  line-height: 1.15;
  position: relative;
  vertical-align: middle;
}

.studio-card h1 {
  font-family: "Butler", sans-serif;
  font-size: 1em;
  font-weight: 400;
}

.studio-card h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  margin-top: 1em;
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
}

/*End 1st page*/

.designer-card {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  max-height: 900px;
  padding-left: 8rem;
  padding-right: 8rem;
  border: 2px solid red;
}

.photo {
  overflow: hidden;
  position: relative;
  max-height: 90vh;
}

.designer-card > div {
  display: inline-block;
  width: 49%;
  float: left;
  max-height: 100vh;
  position: relative;
  overflow: hidden;
}

.designer-card > div > img {
  min-width: 100%;
  min-height: 100%;
  max-height: 115%;
  max-width: 115%;
  display: block;
}

.about-text {
  padding-left: 8rem;
}

.about-text h3 {
  font-size: 5.4rem;
  font-weight: 300;
}

.about-text h4,
span {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.about-text blockquote {
  display: block;
  width: 100%;
  font-size: 2rem;
  font-weight: 200;
}
